//base color
$red:#FF5722;		//赤色
$orange:#FFB800; 	//橙色
$green:#009688;		//墨绿
$cyan:#2F4056;		//藏青
$blue:#1E9FFF;		//蓝色
$black:#393D49;		//雅黑
$gray:#666;			//银灰
$success:#67C23A;	//成功辅助色
$warning:#E6A23C;	//警告辅助色
$danger:#F56C6C;	//危险辅助色
$info:#79a1eb;
:export{
	red : $red;
	orange:$orange;
	green:$green;
	cyan:$cyan;
	blue:$blue;
	black:$black;
	gray:$gray;
	success:$success;
	warning:$warning;
	danger:$danger;
	info:$info
}
