@import "./transition.scss";
//base color
$--color-brand: #1E9FFF !default; //主色调
$--color-red: #d72323 !default; //赤色
$--color-orange: #FF8C00 !default; //橙色
$--color-green: #009688 !default; //墨绿
$--color-cyan: #2F4056 !default; //藏青
$--color-blue: #1E9FFF !default; //蓝色
$--color-black: #393D49 !default; //雅黑
$--color-gray: #666 !default; //银灰
$--color-white: #FFFFFF !default;
$--color-primary: $--color-blue !default;
$--color-success: #36ad6a !default; //成功辅助色
$--color-warning: #fcb040 !default; //警告辅助色
$--color-danger: #ea5455 !default; //危险辅助色
$--color-info: #95949A !default;
$--color-text-placeholder: #C0C4CC !default;

$--fontColor-primary: #909399 !default;
$--fontColor-success: #67c23a !default;
$--fontColor-warning: #e6a23c !default;
$--fontColor-danger: #f56c6c !default;

$--text-color: #1f2225 !default;

$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$breakpoints: ('xs' : (max-width: $--sm - 1),
    'sm' : (min-width: $--sm),
    'md' : (min-width: $--md),
    'lg' : (min-width: $--lg),
    'xl' : (min-width: $--xl));

$namespace: 't';
$separator-top: '-';
$separator-second: '--';
$state-prefix: 'is-';


$--background-color-base: #F5F7FA !default;

$--border-size: 1px !default;
$--border-style: solid !default;
$--border-color: #EFEFF5 !default;
$--border-color-2: #ececec !default;
$--border-radius-base: 4px !default;
$--border-color-hover: $--color-text-placeholder;
$--border-base: $--border-size $--border-style $--border-color;
//Input
$--input-hover-color: $--color-brand;
$--input-default-height: 40px !default;
$--input-border-radius: $--border-radius-base;

$--input-medium-font-size: 14px !default;
$--input-medium-height: 36px !default;
$--input-small-font-size: 13px !default;
$--input-small-height: 32px !default;
$--input-mini-font-size: 12px !default;
$--input-mini-height: 28px !default;


//Select
$--select-default-height: $--input-default-height !default;
$--select-border-radius: $--input-border-radius !default;
$--select-horizontal-padding: 10px;
$--select-hover-color: $--color-brand;
$--select-option-hover-color: #F6F6F6 !default;
$--select-option-active-color: #DBE7F5 !default;

//Button
$--button-default-background-color: #ecf5ff !default;
$--button-default-border-color: #dcdfe6 !default;
$--button-default-height: 40px !default;
$--button-border-radius: $--border-radius-base !default;
$--button-border-round-radius: 20px !default;

$--button-medium-font-size: 14px !default;
$--button-medium-height: 36px !default;
$--button-small-font-size: 13px !default;
$--button-small-height: 32px !default;
$--button-mini-font-size: 12px !default;
$--button-mini-height: 28px !default;

$--button-primary-line: mix($--color-white, $--color-blue, 20%) !default;
$--button-success-line: mix($--color-white, $--color-success, 20%) !default;
$--button-warning-line: mix($--color-white, $--color-warning, 20%) !default;
$--button-danger-line: mix($--color-white, $--color-danger, 20%) !default;


//Tooltip
$--tooltip-arrow-size: 6px !default;
$--tooltip-color: #303133 !default;


//Scrollbar
$--scrollbar-background-color: rgba($--color-gray, .3) !default;
$--scrollbar-background-hover-color: rgba($--color-gray, .5) !default;


// Tag
$--tag-default-height: 32px !default;
$--tag-padding: 0 10px !default;
$--tag-font-size: 12px !default;
$--tag-border-radius: 4px !default;
$--tag-info-color: $--color-info !default;
$--tag-primary-color: $--color-primary !default;
$--tag-success-color: $--color-success !default;
$--tag-warning-color: $--color-warning !default;
$--tag-danger-color: $--color-danger !default;
$--tag-medium-height: 28px !default;
$--tag-small-height: 24px !default;
$--tag-mini-height: 20px !default;


// Alert
$--alert-padding:8px 16px !default;
$--alert-border-radius:$--border-radius-base !default;


// Modal
$--model-background-color:$--color-white!default;
$--modal-title-color:#303133!default;
$--modal-body-color:#606266!default;
